#menuButton {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 100px;
    z-index: 2;
}
#menuItems {
    position: absolute;
    width: 1000px;
    margin-top: -100px;
    margin-left: -100px;
}
.menuItem {
    position: absolute;
    transform-origin: -150px -150px;
    transition: .4s ;
}